<div id="mwa-connection-modal" class="fixed top-[28px] left-0 right-0 py-2 flex items-center justify-center text-white font-semibold z-50 hidden" role="alert">
  <span id="mwa-connection-message"></span>
</div>
