<a href="/pos/invoice" class="hover:bg-gray-100 dark:hover:bg-neutral-900 px-2 py-1 rounded-t border-b-2">
	Invoice
</a>
<a href="/pos/vendor" class="hover:bg-gray-100 dark:hover:bg-neutral-900 px-2 py-1 rounded-t border-b-2">
	Vendor
</a>
<a href="/pos/inventory" class="hover:bg-gray-100 dark:hover:bg-neutral-900 px-2 py-1 rounded-t border-b-2">
	Inventory
</a>
<a href="/pos/customer" class="hover:bg-gray-100 dark:hover:bg-neutral-900 px-2 py-1 rounded-t border-b-2">
	Customer
</a>
<a href="/pos/report" class="hover:bg-gray-100 dark:hover:bg-neutral-900 px-2 py-1 rounded-t border-b-2">
	Reports
</a>